* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.HomeContainer {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.nav {
  width: 100%;
  height: 100px;
  border: 2px solid red;
}

.lowerDiv {
  width: 100%;
  height: 100%;
  margin:5px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  padding:5px;
}

.card {
  border-radius: 8px;
  padding: 16px;
  margin: 5px;
  margin-top: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 800px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color:black;
}
.logo{
  color:white;
  font-size:20px;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 2px;
  font-family:cursive;
}

.navbar .right {
  display: flex;
  margin: 5px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .flex {
  display: flex;
}
.navbar button {
  padding: 5px 10px;
  margin-top: 8px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*  */
.navbar input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.card {
  width: 293px;
  height: 250px;
  border-radius: 15px;
  background: rgba(105, 13, 197, 0.103);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}

.card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.102);
  transition: all 0.8s ease;
  filter: blur(0.5rem);
}

.text {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 900;
  font-size: 1.2em;
}

.subtitle {
  font-size: 0.6em;
  font-weight: 300;
  color: #343434;
  margin:7px;
}

.icons {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.icons .btn {
  background-color: rgba(241, 196, 15, 0.8);
  border-radius: 5px;
}
.icons .btn-red {
  background-color: #e74c3c;
}

.btn {
  border: none;
  width: 84px;
  height: 35px;
  background-color: rgba(247, 234, 234, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  border-radius: 5px;
  background-color: rgba(241, 196, 15, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgb(247, 234, 234);
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  filter: blur(0rem);
}

.average-classes {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.average-classes-result {
  text-align: center;
}
.average-classes-result h3 {
  font-size: 32px;
  color: green;
}

.error {
  color: red;
  font-weight: bold;
}

.edit-teacher-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-teacher-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-teacher-form .btn-primary {
  width: 100%;
}

.add-teacher-form .btn-primary:hover {
  background-color: #377cc7;
}

.form-title {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}
